@font-face {
    font-family: "SFPRODISPLAYMEDIUM";
    src: url("./fonts/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: "SFPRODISPLAYULTRALIGHTITALIC";
    src: url("./fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF");
}

body{
    background: black;
}

h1{
    
    display:flex;
    position: absolute;
    width: 218px;
    height: 60px;
    left: 18%;

    /* heading / 50 */

    font-family: "SFPRODISPLAYMEDIUM";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */

    /* gray / 9 white */

    color: #FFFFFF;
}

#title > a{
    position: absolute;
    width: 200px;
    height: 24px;
    top: 15%;
    left: 18%;

    font-family: "SFPRODISPLAYULTRALIGHTITALIC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-decoration-line: underline;

    /* gray / 9 white */

    color: #FFFFFF;
}

#Backlog{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px; 

    position: absolute;
    width: 15%;
    height: 35%;
    left: 17%;
    top: 25%;

    /* gray / 2 */

    background: #262626;
    border-radius: 16px;
}  

#ToDo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px; 

    position: absolute;
    width: 15%;
    height: 55%;
    left: 37%;
    top: 25%;

    /* gray / 2 */

    background: #262626;
    border-radius: 16px;

}

#InProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px; 

    position: absolute;
    width: 15%;
    height: 59%;
    left: 57%;
    top: 25%;

    /* gray / 2 */

    background: #262626;
    border-radius: 16px;
}

#Designed{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px; 

    position: absolute;
    width: 15%;
    height: 50%;
    left: 77%;
    top: 25%;

    /* gray / 2 */

    background: #262626;
    border-radius: 16px;
}